
<h2> My Dashboard</h2>
<div style="display:flex;gap:20px;">
    <div style="border:1px solid black; padding:20px;">
        <h3>Total Task</h3>
        <p>@ViewBag.Total</p>
    </div>
    <div style="border:1px solid green; padding:20px;">
        <h3>Completed Tasks</h3>
        <p>@ViewBag.Completed</p>

    </div  style="border:1px solid red; padding:20px;">
    <div><h3>Pending Task</h3>
        <p>@ViewBag.Pending</p></div>
</div>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
